{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block _artist_search_form_genres_label %}
    {{ block('form_label') }}
    <a href="#" title="Choisissez un ou plusieurs genres de musique">?</a>
{% endblock %}
